Import necessary library. Make sure you are running your google colab using GPU

In [1]:
import io
import os
import json
import argparse
import time
import numpy as np
import pandas as pd
import datetime
import tensorflow as tf
import time

from keras import layers
from keras.models import Model
from pickle import TRUE
from sklearn import utils
from tqdm import tqdm as tqdm
from sklearn import utils
from sklearn import metrics 
from sklearn import preprocessing 
import warnings
warnings.filterwarnings('ignore')

print("GPU Condition", tf.test.is_gpu_available()) # True/False

WARNING:tensorflow:From <ipython-input-1-1c3e5e417720>:23: is_gpu_available (from tensorflow.python.framework.test_util) is deprecated and will be removed in a future version.
Instructions for updating:
Use `tf.config.list_physical_devices('GPU')` instead.
GPU Condition True

# **Next Time Prediction Task**

# Preprocessing Part
Upload necessary dataset to your directory. We are using Helpdesk dataset as example.
*   **Make sure the dataset has columns name Case ID, Activity, Complete Timestamp, and Resource (If not, please rename it manually)**

You can download our sample dataset here (https://drive.google.com/drive/folders/1x2en9pUz1ak8IO_6ocE-hpkGylaz1da3?usp=sharing)

In [2]:
#change to your prefered event log
df = pd.read_csv("Helpdesk.csv")

In [3]:
df

,Case ID,Activity,Resource,Complete Timestamp,Variant,Variant index,Variant.1,seriousness,customer,product,responsible_section,seriousness_2,service_level,service_type,support_section,workgroup
0,Case 1,Assign seriousness,Value 1,2012/10/09 14:50:17.000,Variant 12,12,Variant 12,Value 1,Value 1,Value 1,Value 1,Value 1,Value 1,Value 1,Value 1,Value 1
1,Case 1,Take in charge ticket,Value 1,2012/10/09 14:51:01.000,Variant 12,12,Variant 12,Value 1,Value 1,Value 1,Value 1,Value 1,Value 1,Value 1,Value 1,Value 1
2,Case 1,Take in charge ticket,Value 2,2012/10/12 15:02:56.000,Variant 12,12,Variant 12,Value 1,Value 1,Value 1,Value 1,Value 1,Value 2,Value 1,Value 1,Value 1
3,Case 1,Resolve ticket,Value 1,2012/10/25 11:54:26.000,Variant 12,12,Variant 12,Value 1,Value 1,Value 1,Value 1,Value 1,Value 2,Value 1,Value 1,Value 1
4,Case 1,Closed,Value 3,2012/11/09 12:54:39.000,Variant 12,12,Variant 12,Value 1,Value 1,Value 1,Value 1,Value 1,Value 2,Value 1,Value 1,Value 1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21343,Case 4579,Closed,Value 5,2010/09/02 10:11:00.000,Variant 1,1,Variant 1,Value 1,Value 71,Value 3,Value 1,Value 1,Value 3,Value 1,Value 1,Value 1
21344,Case 4580,Take in charge ticket,Value 6,2012/01/03 09:33:43.000,Variant 18,18,Variant 18,Value 1,Value 92,Value 3,Value 1,Value 2,Value 2,Value 2,Value 1,Value 1
21345,Case 4580,Wait,Value 6,2012/01/10 15:30:11.000,Variant 18,18,Variant 18,Value 1,Value 92,Value 3,Value 1,Value 2,Value 2,Value 2,Value 1,Value 1
21346,Case 4580,Resolve ticket,Value 6,2012/01/10 17:07:40.000,Variant 18,18,Variant 18,Value 1,Value 92,Value 3,Value 1,Value 2,Value 2,Value 2,Value 1,Value 1
21347,Case 4580,Closed,Value 5,2012/02/08 17:00:34.000,Variant 18,18,Variant 18,Value 1,Value 92,Value 3,Value 1,Value 2,Value 2,Value 2,Value 1,Value 1

In [4]:
df = df[['Case ID', 'Activity', 'Complete Timestamp', 'Resource']]
df.columns = ["Case", "Activity", "Timestamp", 'Resource']

In [5]:
df

            Case               Activity                Timestamp Resource
0         Case 1     Assign seriousness  2012/10/09 14:50:17.000  Value 1
1         Case 1  Take in charge ticket  2012/10/09 14:51:01.000  Value 1
2         Case 1  Take in charge ticket  2012/10/12 15:02:56.000  Value 2
3         Case 1         Resolve ticket  2012/10/25 11:54:26.000  Value 1
4         Case 1                 Closed  2012/11/09 12:54:39.000  Value 3
...          ...                    ...                      ...      ...
21343  Case 4579                 Closed  2010/09/02 10:11:00.000  Value 5
21344  Case 4580  Take in charge ticket  2012/01/03 09:33:43.000  Value 6
21345  Case 4580                   Wait  2012/01/10 15:30:11.000  Value 6
21346  Case 4580         Resolve ticket  2012/01/10 17:07:40.000  Value 6
21347  Case 4580                 Closed  2012/02/08 17:00:34.000  Value 5

[21348 rows x 4 columns]

In [6]:
df["Activity"] = df["Activity"].str.lower()
df["Activity"] = df["Activity"].str.replace(" ", "-")

df["Timestamp"] = df["Timestamp"].str.replace("/", "-")
df["Timestamp"]= pd.to_datetime(df["Timestamp"], dayfirst=True).map(lambda x: x.strftime("%Y-%m-%d %H:%M:%S"))
df.sort_values(by = ["Timestamp"], inplace = True)

In [7]:
df

            Case            Activity            Timestamp Resource
16857  Case 3608  assign-seriousness  2010-01-13 08:40:25  Value 2
12863  Case 2748  assign-seriousness  2010-01-13 12:26:04  Value 2
19959  Case 4284  assign-seriousness  2010-01-13 12:30:37  Value 2
7168   Case 1534  assign-seriousness  2010-01-13 13:09:31  Value 2
1864    Case 406  assign-seriousness  2010-01-13 17:25:25  Value 2
...          ...                 ...                  ...      ...
5364   Case 1156              closed  2014-01-03 10:02:38  Value 3
14090  Case 3013              closed  2014-01-03 10:03:58  Value 3
18008  Case 3857              closed  2014-01-03 10:08:18  Value 3
12105  Case 2585              closed  2014-01-03 13:19:48  Value 3
2746    Case 595              closed  2014-01-03 13:20:58  Value 3

[21348 rows x 4 columns]

In [8]:
keys = ["[PAD]", "[UNK]"]
activities = list(df["Activity"].unique())
resources = list(df["Resource"].unique())
resources = list(map(str, resources))

keys.extend(activities)
val = range(len(keys))

coded_activity = dict({"x_word_dict":dict(zip(keys, val))})
code_activity_normal = dict({"y_word_dict": dict(zip(activities, range(len(activities))))})
code_resource_normal = dict({"x2_word_dict": dict(zip(resources, range(len(resources))))})

coded_activity.update(code_activity_normal)
coded_activity.update(code_resource_normal)

coded_json = json.dumps(coded_activity)
with open(f"metadata.json", "w") as metadata_file:
    metadata_file.write(coded_json)

In [9]:
train_test_ratio = int(abs(df["Case"].nunique()*0.80))
train_list = df["Case"].unique()[:train_test_ratio]
test_list = df["Case"].unique()[train_test_ratio:]

In [10]:
case_id = "Case"
event_name = "Activity"
event_time = "Timestamp"

processed_df = pd.DataFrame(columns = ["case_id", "prefix", "k", "time_passed", "recent_time", "latest_time","remaining_time_days"])
idx = 0
unique_cases = df[case_id].unique()
for _, case in enumerate(tqdm(unique_cases)):
    act = df[df[case_id] == case][event_name].to_list()
    time = df[df[case_id] == case][event_time].str[:19].to_list()
    time_passed = 0
    latest_diff = datetime.timedelta()
    recent_diff = datetime.timedelta()
    for i in range(0, len(act)):
        prefix = np.where(i == 0, act[0], " ".join(act[:i+1]))
        if i > 0:
            latest_diff = datetime.datetime.strptime(time[i], "%Y-%m-%d %H:%M:%S") - \
                                datetime.datetime.strptime(time[i-1], "%Y-%m-%d %H:%M:%S")
        if i > 1:
            recent_diff = datetime.datetime.strptime(time[i], "%Y-%m-%d %H:%M:%S")- \
                            datetime.datetime.strptime(time[i-2], "%Y-%m-%d %H:%M:%S")

        latest_time = np.where(i == 0, 0, latest_diff.days)
        recent_time = np.where(i <=1, 0, recent_diff.days)
        time_passed = time_passed + latest_time

        time_stamp = str(np.where(i == 0, time[0], time[i]))
        ttc = datetime.datetime.strptime(time[-1], "%Y-%m-%d %H:%M:%S") - \
                datetime.datetime.strptime(time_stamp, "%Y-%m-%d %H:%M:%S")
        ttc = str(ttc.days)  

        processed_df.at[idx, "case_id"]  = case
        processed_df.at[idx, "prefix"]  =  prefix
        processed_df.at[idx, "k"] = i
        processed_df.at[idx, "time_passed"] = time_passed
        processed_df.at[idx, "recent_time"] = recent_time
        processed_df.at[idx, "latest_time"] =  latest_time
        processed_df.at[idx, "remaining_time_days"] = ttc
        idx = idx + 1

100%|██████████| 4580/4580 [01:22<00:00, 55.38it/s]

In [11]:
train_df = processed_df[processed_df["case_id"].isin(train_list)]
test_df = processed_df[processed_df["case_id"].isin(test_list)]
train_df.to_csv(f"train.csv", index = False)
test_df.to_csv(f"test.csv", index = False)

# Proposal Architecture (Transformer)

In [12]:
class TransformerBlock(layers.Layer):
    def __init__(self, embed_dim, num_heads, ff_dim, rate=0.1):
        super(TransformerBlock, self).__init__()
        self.att = layers.MultiHeadAttention(num_heads=num_heads, key_dim=embed_dim)
        self.ffn = tf.keras.Sequential(
            [layers.Dense(ff_dim, activation="relu"), layers.Dense(embed_dim),]
        )
        self.layernorm_a = layers.LayerNormalization(epsilon=1e-6)
        self.layernorm_b = layers.LayerNormalization(epsilon=1e-6)
        self.dropout_a = layers.Dropout(rate)
        self.dropout_b = layers.Dropout(rate)

    def call(self, inputs, training):
        attn_output = self.att(inputs, inputs)
        attn_output = self.dropout_a(attn_output, training=training)
        out_a = self.layernorm_a(inputs + attn_output)
        ffn_output = self.ffn(out_a)
        ffn_output = self.dropout_b(ffn_output, training=training)
        return self.layernorm_b(out_a + ffn_output)

class TokenAndPositionEmbedding(layers.Layer):
    def __init__(self, maxlen, vocab_size, embed_dim):
        super(TokenAndPositionEmbedding, self).__init__()
        self.token_emb = layers.Embedding(input_dim=vocab_size, output_dim=embed_dim)
        self.pos_emb = layers.Embedding(input_dim=maxlen, output_dim=embed_dim)

    def call(self, x):
        maxlen = tf.shape(x)[-1]
        positions = tf.range(start=0, limit=maxlen, delta=1)
        positions = self.pos_emb(positions)
        x = self.token_emb(x)
        return x + positions

# Next Time Model

In [13]:
def get_remaining_time_model(max_case_length, vocab_size, output_dim = 1, 
    embed_dim = 36, num_heads = 4, ff_dim = 64):

    inputs = layers.Input(shape=(max_case_length,))
    time_inputs = layers.Input(shape=(3,)) 
    x = TokenAndPositionEmbedding(max_case_length, vocab_size, embed_dim)(inputs)
    x = TransformerBlock(embed_dim, num_heads, ff_dim)(x)
    x = layers.GlobalAveragePooling1D()(x)
    x_t = layers.Dense(32, activation="relu")(time_inputs)
    x = layers.Concatenate()([x, x_t])
    x = layers.Dropout(0.1)(x)
    x = layers.Dense(128, activation="relu")(x)
    x = layers.Dropout(0.1)(x)
    outputs = layers.Dense(output_dim, activation="linear")(x)
    transformer = tf.keras.Model(inputs=[inputs, time_inputs], outputs=outputs,
        name = "remaining_time_transformer")
    transformer.summary()
    return transformer

# Next Time Data Loader

In [14]:
def load_data():
  train_df = pd.read_csv(f"train.csv")
  test_df = pd.read_csv(f"test.csv")

  with open(f"metadata.json", "r") as json_file:
      metadata = json.load(json_file)

  x_word_dict = metadata["x_word_dict"]
  y_word_dict = metadata["y_word_dict"]
  max_case_length = get_max_case_length(train_df["prefix"].values)
  vocab_size = len(x_word_dict) 
  total_classes = len(y_word_dict)

  return (train_df, test_df, x_word_dict, y_word_dict, max_case_length, vocab_size, total_classes)


def prepare_data_remaining_time(df, x_word_dict, max_case_length, 
        time_scaler = None, y_scaler = None, shuffle = True):

  x = df["prefix"].values
  time_x = df[["recent_time",	"latest_time", 
      "time_passed"]].values.astype(np.float32)
  y = df["remaining_time_days"].values.astype(np.float32)

  if shuffle:
      x, time_x, y = utils.shuffle(x, time_x, y)

  token_x = list()
  for _x in x:
      token_x.append([x_word_dict[s] for s in _x.split()])

  if time_scaler is None:
      time_scaler = preprocessing.StandardScaler()
      time_x = time_scaler.fit_transform(
          time_x).astype(np.float32)
  else:
      time_x = time_scaler.transform(
          time_x).astype(np.float32)            

  if y_scaler is None:
      y_scaler = preprocessing.StandardScaler()
      y = y_scaler.fit_transform(
          y.reshape(-1, 1)).astype(np.float32)
  else:
      y = y_scaler.transform(
          y.reshape(-1, 1)).astype(np.float32)

  token_x = tf.keras.preprocessing.sequence.pad_sequences(
      token_x, maxlen=max_case_length)
  
  token_x = np.array(token_x, dtype=np.float32)
  time_x = np.array(time_x, dtype=np.float32)
  y = np.array(y, dtype=np.float32)
  
  return token_x, time_x, y, time_scaler, y_scaler

def get_max_case_length(train_x):
  train_token_x = list()
  for _x in train_x:
      train_token_x.append(len(_x.split()))
  return max(train_token_x)

# Training

In [15]:
(train_df, test_df, x_word_dict, y_word_dict, max_case_length, vocab_size, num_output) = load_data()
(train_token_x, train_time_x, train_token_y, time_scaler, y_scaler) = prepare_data_remaining_time(train_df, x_word_dict, max_case_length)

In [16]:
transformer_model = get_remaining_time_model(max_case_length=max_case_length, vocab_size=vocab_size)

Model: "remaining_time_transformer"
__________________________________________________________________________________________________
 Layer (type)                   Output Shape         Param #     Connected to
==================================================================================================
 input_1 (InputLayer)           [(None, 15)]         0           []

 token_and_position_embedding (  (None, 15, 36)      1116        ['input_1[0][0]']
 TokenAndPositionEmbedding)

 transformer_block (Transformer  (None, 15, 36)      26056       ['token_and_position_embedding[0]
 Block)                                                          [0]']

 input_2 (InputLayer)           [(None, 3)]          0           []

 global_average_pooling1d (Glob  (None, 36)          0           ['transformer_block[0][0]']
 alAveragePooling1D)

 dense_2 (Dense)                (None, 32)           128         ['input_2[0][0]']

 concatenate (Concatenate)      (None, 68)           0           ['global_average_pooling1d[0][0]'
                                                                 , 'dense_2[0][0]']

 dropout_2 (Dropout)            (None, 68)           0           ['concatenate[0][0]']

 dense_3 (Dense)                (None, 128)          8832        ['dropout_2[0][0]']

 dropout_3 (Dropout)            (None, 128)          0           ['dense_3[0][0]']

 dense_4 (Dense)                (None, 1)            129         ['dropout_3[0][0]']

==================================================================================================
Total params: 36,261
Trainable params: 36,261
Non-trainable params: 0
__________________________________________________________________________________________________

In [17]:
transformer_model.compile(optimizer=tf.keras.optimizers.Adam(0.001), loss=tf.keras.losses.LogCosh())

In [18]:
transformer_model.fit([train_token_x, train_time_x], train_token_y, 
                      epochs=50, batch_size=512, verbose=2)

Epoch 1/50
34/34 - 6s - loss: 0.1556 - 6s/epoch - 162ms/step
Epoch 2/50
34/34 - 0s - loss: 0.1005 - 274ms/epoch - 8ms/step
Epoch 3/50
34/34 - 0s - loss: 0.0907 - 277ms/epoch - 8ms/step
Epoch 4/50
34/34 - 0s - loss: 0.0873 - 260ms/epoch - 8ms/step
Epoch 5/50
34/34 - 0s - loss: 0.0862 - 253ms/epoch - 7ms/step
Epoch 6/50
34/34 - 0s - loss: 0.0847 - 251ms/epoch - 7ms/step
Epoch 7/50
34/34 - 0s - loss: 0.0838 - 259ms/epoch - 8ms/step
Epoch 8/50
34/34 - 0s - loss: 0.0833 - 271ms/epoch - 8ms/step
Epoch 9/50
34/34 - 0s - loss: 0.0829 - 253ms/epoch - 7ms/step
Epoch 10/50
34/34 - 0s - loss: 0.0826 - 258ms/epoch - 8ms/step
Epoch 11/50
34/34 - 0s - loss: 0.0818 - 253ms/epoch - 7ms/step
Epoch 12/50
34/34 - 0s - loss: 0.0818 - 267ms/epoch - 8ms/step
Epoch 13/50
34/34 - 0s - loss: 0.0815 - 254ms/epoch - 7ms/step
Epoch 14/50
34/34 - 0s - loss: 0.0818 - 262ms/epoch - 8ms/step
Epoch 15/50
34/34 - 0s - loss: 0.0808 - 254ms/epoch - 7ms/step
Epoch 16/50
34/34 - 0s - loss: 0.0807 - 265ms/epoch - 8ms/step
Epoch 17/50
34/34 - 0s - loss: 0.0804 - 256ms/epoch - 8ms/step
Epoch 18/50
34/34 - 0s - loss: 0.0804 - 254ms/epoch - 7ms/step
Epoch 19/50
34/34 - 0s - loss: 0.0802 - 263ms/epoch - 8ms/step
Epoch 20/50
34/34 - 0s - loss: 0.0801 - 274ms/epoch - 8ms/step
Epoch 21/50
34/34 - 0s - loss: 0.0806 - 256ms/epoch - 8ms/step
Epoch 22/50
34/34 - 0s - loss: 0.0805 - 258ms/epoch - 8ms/step
Epoch 23/50
34/34 - 0s - loss: 0.0795 - 259ms/epoch - 8ms/step
Epoch 24/50
34/34 - 0s - loss: 0.0798 - 264ms/epoch - 8ms/step
Epoch 25/50
34/34 - 0s - loss: 0.0797 - 256ms/epoch - 8ms/step
Epoch 26/50
34/34 - 0s - loss: 0.0794 - 252ms/epoch - 7ms/step
Epoch 27/50
34/34 - 0s - loss: 0.0793 - 267ms/epoch - 8ms/step
Epoch 28/50
34/34 - 0s - loss: 0.0790 - 255ms/epoch - 7ms/step
Epoch 29/50
34/34 - 0s - loss: 0.0793 - 258ms/epoch - 8ms/step
Epoch 30/50
34/34 - 0s - loss: 0.0790 - 252ms/epoch - 7ms/step
Epoch 31/50
34/34 - 0s - loss: 0.0788 - 287ms/epoch - 8ms/step
Epoch 32/50
34/34 - 0s - loss: 0.0791 - 259ms/epoch - 8ms/step
Epoch 33/50
34/34 - 0s - loss: 0.0792 - 254ms/epoch - 7ms/step
Epoch 34/50
34/34 - 0s - loss: 0.0788 - 248ms/epoch - 7ms/step
Epoch 35/50
34/34 - 0s - loss: 0.0794 - 268ms/epoch - 8ms/step
Epoch 36/50
34/34 - 0s - loss: 0.0790 - 259ms/epoch - 8ms/step
Epoch 37/50
34/34 - 0s - loss: 0.0791 - 272ms/epoch - 8ms/step
Epoch 38/50
34/34 - 0s - loss: 0.0782 - 250ms/epoch - 7ms/step
Epoch 39/50
34/34 - 0s - loss: 0.0787 - 258ms/epoch - 8ms/step
Epoch 40/50
34/34 - 0s - loss: 0.0793 - 248ms/epoch - 7ms/step
Epoch 41/50
34/34 - 0s - loss: 0.0787 - 253ms/epoch - 7ms/step
Epoch 42/50
34/34 - 0s - loss: 0.0786 - 261ms/epoch - 8ms/step
Epoch 43/50
34/34 - 0s - loss: 0.0783 - 259ms/epoch - 8ms/step
Epoch 44/50
34/34 - 0s - loss: 0.0786 - 252ms/epoch - 7ms/step
Epoch 45/50
34/34 - 0s - loss: 0.0791 - 251ms/epoch - 7ms/step
Epoch 46/50
34/34 - 0s - loss: 0.0784 - 253ms/epoch - 7ms/step
Epoch 47/50
34/34 - 0s - loss: 0.0781 - 263ms/epoch - 8ms/step
Epoch 48/50
34/34 - 0s - loss: 0.0785 - 255ms/epoch - 8ms/step
Epoch 49/50
34/34 - 0s - loss: 0.0784 - 248ms/epoch - 7ms/step
Epoch 50/50
34/34 - 0s - loss: 0.0782 - 254ms/epoch - 7ms/step

# Evaluate Model

In [19]:
k, maes, mses, rmses = [],[],[],[]
for i in range(max_case_length):
    test_data_subset = test_df[test_df["k"]==i]
    if len(test_data_subset) > 0:
        test_token_x, test_time_x, test_y, _, _ = prepare_data_remaining_time(test_data_subset, x_word_dict, max_case_length, time_scaler, y_scaler, False)   
        y_pred = transformer_model.predict([test_token_x, test_time_x])
        _test_y = y_scaler.inverse_transform(test_y)
        _y_pred = y_scaler.inverse_transform(y_pred)

        k.append(i)
        maes.append(metrics.mean_absolute_error(_test_y, _y_pred))
        mses.append(metrics.mean_squared_error(_test_y, _y_pred))
        rmses.append(np.sqrt(metrics.mean_squared_error(_test_y, _y_pred)))

k.append(i + 1)
maes.append(np.mean(maes))
mses.append(np.mean(mses))
rmses.append(np.mean(rmses))  
print('Average MAE across all prefixes:', np.mean(maes))
print('Average MSE across all prefixes:', np.mean(mses))
print('Average RMSE across all prefixes:', np.mean(rmses))

Average MAE across all prefixes: 4.468688
Average MSE across all prefixes: 36.74824
Average RMSE across all prefixes: 5.418242